<h1>Library</h1>

<a href="/"></a>

<hr>

<!-- <% if Word.all() != nil %> -->
  <!-- <% if Word.all().size() > 0 %>
  <h3>Word List:</h3>
    <ul>
      <% Word.all().each() do |word| %>

        <li><a href="#"><%= word.text %></a></li>
      <% end %>
    </ul>
  <% end %> -->
<!-- <% end %> -->
